Documentation/XSD/Request/DeleteRequest.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <resources base="http://localhost:5000/aifse/ipmmc/v1/">
      <resource path="deletePart">
         <method name="POST" id="deletePartRequest">
            <xs:element name="root">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="data">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="partDetail">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="reference"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
         </method>
      </resource>
   </resources>
</xs:schema>

<!-- Sample Json Request -->
<!-- 
{
   "data":{
      "partDetail":{
         "reference":"VKM8"
      }
   }
}
-->

