Documentation/XSD/Request/PaginationRequest.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <resources base="http://localhost:5000/aifse/ipmmc/v1/">
      <resource path="pagination">
         <method name="GET" id="paginationRequest">
            <xs:element name="root">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="data">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="pagination" type="Pagination" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
               <xs:element name="Pagination">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element type="xs:integer" name="offset" minOccurs="0"/>
                        <xs:element type="xs:integer" name="pageNumber" minOccurs="0"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:element>
         </method>
      </resource>
   </resources>
</xs:schema>

<!-- Sample Json Request -->
<!-- {
    "data" : {
       "pagination" : {
            "offset":5,
        "pageNumber":2
       }
    }
} -->