Documentation/XSD/Response/PaginationResponse.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <resources base="http://localhost:5000/aifse/ipmmc/v1/">
      <resource path="pagination">
         <method name="GET" id="paginationResponse">
            <xs:element name="root">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="data">
                        <xs:complexType>
                           <xs:sequence>
                           <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                              <xs:complexType>
                                 <xs:sequence>
                                 <xs:element type="xs:string" name="category"/>
                                 <xs:element type="xs:string" name="manufacturer"/>
                                 <xs:element type="xs:float" name="radius"/>
                                 <xs:element type="xs:string" name="reference"/>
                                 <xs:element type="xs:string" name="title"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="statusCode"/>
                     <xs:element type="xs:string" name="statusMessage"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
         </method>
      </resource>
   </resources>
</xs:schema>

<!-- Sample Json Response -->
<!-- {
    "data": [
        {
            "reference": "07260-05",
            "radius": 2.5,
            "category": "NUT",
            "title": "HEXAGON NUT 1.5XD HIGH M05 CARBON STEEL, DIN6330, SW=9",
            "manufacturer": "norelem"
        },
        {
            "reference": "07260-06",
            "radius": 3.0,
            "category": "NUT",
            "title": "HEXAGON NUT 1.5XD HIGH M06 CARBON STEEL, DIN6330, SW=10",
            "manufacturer": "norelem"
        },
        {
            "reference": "07260-08",
            "radius": 4.0,
            "category": "NUT",
            "title": "HEXAGON NUT 1.5XD HIGH M08 STAINLESS STEEL, DIN6330, SW=13",
            "manufacturer": "norelem"
        },
        {
            "reference": "07260-08",
            "radius": 4.0,
            "category": "NUT",
            "title": "HEXAGON NUT 1.5XD HIGH M08 CARBON STEEL, DIN6330, SW=13",
            "manufacturer": "norelem"
        }
    ],
    "statusMessage": "Success",
    "statusCode": "S000"
} -->