Documentation/XSD/Response/SearchResponse.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <resources base="http://localhost:5000/aifse/ipmmc/v1/">
      <resource path="searchPart">
         <method name="GET" id="searchPartResponse">
            <xs:element name="root">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="data">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="partDetails" type="PartDetails" nillable="true"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:integer" name="statusCode" />
                     <xs:element type="xs:string" name="statusMessage" />
                  </xs:sequence>
               </xs:complexType>
               <xs:element name="PartDetails">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element type="xs:string" name="category"/>
                                 <xs:element type="xs:float" name="radius" />
                                 <xs:element type="xs:string" name="title" />
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:element>
         </method>
      </resource>
   </resources>
</xs:schema>

<!-- Sample Json Response -->
<!-- {
    "data": {
        "partDetails": null
    }
    "statusCode":200,
    "statusMessage":"Success"
} -->